<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><TMPL_VAR name="TITLE">::slackware::package::search</title>
		<meta http-equiv="Content-Language" content="en" />
		<meta http-equiv="Content-Type"  content="text/html; charset=UTF-8" />
		<meta name="description" content="Slackware package search/browser" />
		<meta name="keywords" content="Slackware,package,search,Linux,GNU,distribution,browser,packages" />
		<meta name="author" content="Zdenek Styblik" />
		<link rel="stylesheet" type="text/css" media="screen" href="/css/layout.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="/css/search.css" />
	</head>
	<body>
		<div id="main">
			<div id="heading">
				<div id="quicksearch">
					<TMPL_IF name="QSEARCHHIDE">
					<br /><br />
					<TMPL_ELSE><form id="quicksearchform" name="quicksearchform" method="get" action="/cgi-bin/search.cgi">
						Search 
						<input id="needle" name="needle" type="text" tabindex="1" size="16" />
						in <TMPL_VAR SVERNAME>
						<input id="sver" name="sver" type="hidden" value="<TMPL_VAR SVERSTABLE>" />
						<input id="haystack" name="haystack" type="hidden" value="2" />
						<input id="rm" name="rm" type="hidden" value="search" />
						<input id="buttonsearch" name="buttonsearch" tabindex="2" type="submit" value="Go" /> 
					</form> <!--- searchform -->
					</TMPL_IF>
				</div> <!--- quicksearch -->
				<div id="containerlogo">
					<h1>
						<span class="light">search</span><span class="dark">.slackware.eu</span>
					</h1>
					<ul>
						<li><a href="/cgi-bin/index.cgi/home">Home</a></li>
						<li><a href="/cgi-bin/search.cgi">Search</a></li>
						<li><a href="/cgi-bin/index.cgi/links">Links</a></li>
						<li><a href="/cgi-bin/index.cgi/about">About</a></li>
					</ul>
				</div> <!--- containerlogo -->
			</div> <!--- heading div -->
			<div id="cframe">
				<!--- div with content -->
				<div id="content">

<TMPL_IF NAME="ABOUT"><TMPL_INCLUDE NAME="tmpl_about.htm"></TMPL_IF>
<TMPL_IF NAME="CHANGELOG"><h2>Changelog of <TMPL_VAR NAME="SVER"></h2><TMPL_VAR NAME="CHANGELOG"></TMPL_IF>
<TMPL_IF NAME="ERROR"><TMPL_INCLUDE NAME="tmpl_error.htm"></TMPL_IF>
<TMPL_IF NAME="HOME"><TMPL_INCLUDE NAME="tmpl_home.htm"></TMPL_IF>
<TMPL_IF NAME="LINKS"><TMPL_INCLUDE NAME="tmpl_links.htm"></TMPL_IF>
<TMPL_IF NAME="PKG"><TMPL_INCLUDE NAME="tmpl_pkg.htm"></TMPL_IF>
<TMPL_IF NAME="SEARCH"><TMPL_INCLUDE NAME="tmpl_search.htm"></TMPL_IF>
<TMPL_IF NAME="SLACKVERBRWS"><TMPL_INCLUDE NAME="tmpl_slackverbrws.htm"></TMPL_IF>

				</div> <!--- content div -->
<!-- TODO ~ add IF here? -->
				<div class="back-to-top">
					<a href="#main" title="Back to top">
						<img src="/img/arrow_up.png" alt="Back to top" />
					</a>
				</div>

			</div> <!--- cframe -->

			<div id="footer">
<TMPL_INCLUDE NAME="tmpl_footer.htm">
				<br />
			</div> <!--- footer -->
		</div> <!--- main div -->
	</body>
</html>

