				<h2>Links</h2>
				<h3>Slackware</h3>
				<ul>
					<li>
						<a href="http://www.slackware.com/">http://www.slackware.com</a> - Official Slackware site
					</li>
				</ul>
				<h3>Search Web UIs</h3>
				<ul>
					<li>
					<a href="http://packages.slackware.it">http://packages.slackware.it</a> - deceased
					</li>
					<li>
						<a href="http://packages.slackverse.org">http://packages.slackverse.org</a> - Big sister site
					</li>
					<li>
						<a href="http://slak.homelinux.org/">http://slak.homelinux.org/</a> - very interesting search engine with many unofficial repos
					</li>
					<li>
						<a href="http://www.slacky.eu/">http://www.slacky.eu</a> - Italian Slackware community including repos
					</li>
					<li>
						<a href="http://www.slackbuilds.org/">http://www.slackbuilds.org</a> - SlackBuilds repo
					</li>
				</ul>
				<h3>Slackware-GNU/Linux related webs</h3>
				<ul>
					<li>
						<a href="http://linuax.wordpress.com/">http://linuax.wordpress.com/</a> - ax's blog
					</li>
					<li>
						<a href="http://www.linuxquestions.org/">http://www.linuxquestions.org</a> - good place to (not only) ask GNU/Linux related questions and find some answers
					</li>
				</ul>
				<h3>IRC</h3>
				<ul>
					<li><b>##slackware@freenode.net</b> - Official Slackware support channel</li>
					<li>
						<b>#slackverse@freenode.net</b> - fresh Slackware-related security news and things around <a href="http://www.slackverse.org/">slackverse.org</a>
					</li>
					<li><b>#slacknews@freenode.net</b> - fresh news from Slackware's ChangeLog</li>
					<li><b>#slackware@irc.net</b> - UnOfficial Slackware support channel</li>
				</ul>
