<!-- TODO ~ rename to tmpl_stats.html -->
				<TMPL_IF name="SVERNFO">
				<table id="stats-table">
					<tr>
						<th>Version</th>
						<th>Packages</th>
						<th>Files</th>
						<th>Changed</th>
						<th></th>
					</tr>
					<TMPL_LOOP name="SVERNFO">
					<tr>
						<td>
							<a href="/cgi-bin/browser.cgi/{SVER}"><TMPL_VAR name="SVER"></a>
						</td>
						<td class="number"><TMPL_VAR name="NOPKGS"></td>
						<td class="number"><TMPL_VAR name="NOFILES"></td>
						<td><TMPL_VAR name="LUPDATE"></td>
						<td>
							<a href="/cgi-bin/changelog.cgi/{SVER}">Changelog</a>
						</td>
					</tr>
					</TMPL_LOOP>
				</table>
				<br />
				<br />
				</TMPL_IF>
