<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- TODO ~ move to the template -->
	<head>
		<title><TMPL_VAR name="TITLE"> - slackware::package::search::alpha</title>
		<meta http-equiv="Content-Language" content="en" />
		<meta http-equiv="Content-Type"  content="text/html; charset=UTF-8" />
		<meta name="description" content="Slackware package browser" />
		<meta name="keywords" content="Slackware,package,search,Linux,GNU" />
		<meta name="author" content="Zdenek Styblik" />
		<link rel="stylesheet" type="text/css" media="screen" href="/css/layout.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="/css/search.css" />
	</head>
	<body>
		<div id="main">
			<div id="heading">
				<h1><a href="http://search.slackware.eu/">search.slackware.eu</a></h1>
				<div>
					<ul>
<!--						<li><a href="#">News</a></li>
						<li><a href="#">Changelogs</a></li> -->
						<li><a href="/cgi-bin/search.cgi">Search</a></li>
						<li><a href="/cgi-bin/index.cgi/links">Links</a></li>
						<li><a href="/cgi-bin/index.cgi/about">About</a></li>
					</ul>
				</div>
			</div> <!-- div heading -->
			<div id="content">
				<form id="searchform" method="get" action="/cgi-bin/search.cgi">
					<fieldset>
						<legend>search</legend>
						<input id="rm" name="rm" type="hidden" value="search" />
						<input id="needle" name="needle" type="text" value="<TMPL_VAR NEEDLE>" />
						<select id="haystack" name="haystack">
							<option value="1">files</option>
							<option value="2" selected="selected">packages</option>
						</select>
						<select id="sver" name="sver">
							<TMPL_LOOP NAME="SVERS">
							<option value="<TMPL_VAR IDSVER>"<TMPL_VAR name="SELECTED">>
								<TMPL_VAR NAME="SVERNAME">
							</option>
							</TMPL_LOOP>
						</select>
						<input id="button-search" name="button-search" type="submit" value="Search" />
						<br />
						<br />
						<fieldset>
							<legend>categories (narrows down the search)</legend>
							<!-- TODO ~ into CSS file!!! -->
							<span style="padding: 0.25em 0em 0.25em 0em;">
							<TMPL_LOOP NAME="CATS">
								<span style="border: 1px dotted #000; padding: 0.25em 0.5em 0.25em 0.5em;">
									<label for="cat_<TMPL_VAR IDCAT>"><TMPL_VAR NAME="CATNAME"></label>
									<TMPL_IF NAME="CHECKED">
									<input id="cat_<TMPL_VAR IDCAT>" name="cat_<TMPL_VAR IDCAT>" type="checkbox" checked="checked" value="on" />
									<TMPL_ELSE>
									<input id="cat_<TMPL_VAR IDCAT>" name="cat_<TMPL_VAR IDCAT>" type="checkbox" value="on" />
									</TMPL_IF>
								</span>
							</TMPL_LOOP>
							</span>
						</fieldset>
					</fieldset>
				</form>
				<br />
<TMPL_IF NAME="SEARCH"><TMPL_INCLUDE NAME="searchresults.htm">
<TMPL_ELSE><TMPL_INCLUDE NAME="news.htm">
</TMPL_IF>
			</div> <!-- div content -->
			<div id="footer">
				<div>
					[<a href="http://search.slackware.eu">search.slackware.eu</a> :: 2010]
				</div>
			</div> <!-- div footer -->
		</div> <!-- div main -->
	</body>
</html>
