				<h2>Package info:</h2>
				<br />
				<table id="packagenfo">
					<tr>
						<td class="attr">Package name::</td>
						<td class="value"><TMPL_VAR name="PKGNAME"></td>
					</tr>
					<tr>
						<td class="attr">Slackware version::</td>
						<td class="value">
							<a href="/cgi-bin/slackver.cgi/view/<TMPL_VAR PKGSVER>">
								<TMPL_VAR name="PKGSVER">
							</a>
						</td>
					</tr>
					<tr>
						<td class="attr">Package category::</td>
						<td class="value">
							<a href="/cgi-bin/category.cgi/view/<TMPL_VAR PKGSVER>/<TMPL_VAR PKGCAT>">
								<TMPL_VAR name="PKGCAT"></td>
							</a>
					</tr>
					<tr>
						<td class="attr">Package serie::</td>
						<td class="value">
							<a href="/cgi-bin/serie.cgi/view/<TMPL_VAR PKGSVER>/<TMPL_VAR PKGCAT>/<TMPL_VAR PKGSERENC>">
								<TMPL_VAR name="PKGSER"></td>
							</a>
					</tr>
					<tr>
						<td class="attr">Package created::</td>
						<td class="value"><TMPL_VAR name="PKGDATE"></td>
					</tr>
					<tr>
						<td class="attr">Package MD5::</td>
						<td class="value"><TMPL_VAR name="PKGMD5"></td>
					</tr>
					<tr>
						<td class="description" colspan="2">
							<pre><TMPL_VAR name="PKGDESC">
							</pre>
						</td>
					</tr>
				</table>
				<div id="button-packageNavigation">
					<a href="<TMPL_VAR SWURL>"><TMPL_VAR name="SWLABEL"></a>
				</div>

				<br />
				<br />

<TMPL_IF name="PKGFILES"><TMPL_INCLUDE name="tmpl_pkgfiles.htm"></TMPL_IF>
<TMPL_IF name="COUNTRIES"><TMPL_INCLUDE name="tmpl_pkgcountries.htm"></TMPL_IF>
<TMPL_IF name="MIRRORS"><TMPL_INCLUDE name="tmpl_pkgmirrors.htm"></TMPL_IF>

				<br />
				<br />
