				<h3>Search parameters:</h3>
				<ul>
					<li>Slackware version :: <b><TMPL_VAR name="SLACKVER"></b></li>
					<li>Categories :: <b><TMPL_VAR name="CATEGORIES"></b></li>
					<li>Search for :: <b><TMPL_VAR name="HAYSTACK"></b></li>
					<li>Results found :: <b><TMPL_VAR name="RESFOUND"></b></li>
					<li>Search took :: <b><TMPL_VAR name="TIMETAKEN"> sec</b></li>
				</ul>
				<br />

				<h3>Search results:</h3>
				<br />
				<TMPL_IF name="RESULTS">
				<TMPL_LOOP name="RESULTS">
				<div class="searchResult">
					<div class="pkgname">
						<!-- TODO ~ browser path here slackware/a/ ... -->
						<TMPL_VAR	name="PKGLOCATION">/
						<b><a href="<TMPL_VAR PKGURL>"><TMPL_VAR name="PKGNAME"></a></b> 
					</div>
					<div class="pkgdate">
						created on <TMPL_VAR name="PKGDATE">
					</div>
					<TMPL_IF name="PKGSIZE"><div class="pkgsize">
						of size <TMPL_VAR name="PKGSIZE">
					</div></TMPL_IF>
					<div class="pkgnfo">
						<pre><TMPL_VAR name="PKGTEXT"></pre>
						<TMPL_IF name="PKGFILES"><pre>times found in package: <TMPL_VAR name="PKGFILES"></pre></TMPL_IF>
					</div>
				</div>
				<br />
				</TMPL_LOOP>
				<br />
				<TMPL_ELSE><p><b>Nothing found, no match, we are sorry!</b></p>
				</TMPL_IF>
