<!-- TODO ~ rename to tmpl_ -->
				<h2>Package info:</h2>
				<br />
				<table id="packagenfo-table">
					<tr>
						<td class="packagenfo-table-tr-td-left">Package name::</td>
						<td class="packagenfo-table-tr-td-right"><TMPL_VAR name="PKGNAME"></td>
					</tr>
					<tr>
						<td class="packagenfo-table-tr-td-left">Slackware version::</td>
						<td class="packagenfo-table-tr-td-right"><TMPL_VAR name="PKGSVER"></td>
					</tr>
					<tr>
						<td class="packagenfo-table-tr-td-left">Package category::</td>
						<td class="packagenfo-table-tr-td-right"><TMPL_VAR name="PKGCAT"></td>
					</tr>
					<tr>
						<td class="packagenfo-table-tr-td-left">Package serie::</td>
						<td class="packagenfo-table-tr-td-right"><TMPL_VAR name="PKGSER"></td>
					</tr>
					<tr>
						<td class="packagenfo-table-tr-td-left">Package created::</td>
						<td class="packagenfo-table-tr-td-right"><TMPL_VAR name="PKGDATE"></td>
					</tr>
					<tr>
						<td class="packagenfo-table-tr-td-left">Package MD5::</td>
						<td class="packagenfo-table-tr-td-right"><TMPL_VAR name="PKGMD5"></td>
					</tr>
					<tr>
						<td class="packagenfo-desc" colspan="2">
							<pre><TMPL_VAR name="PKGDESC">
							</pre>
						</td>
					</tr>
				</table>
				<!-- TODO ~ fix label "Inspect package contents" -->
				<div id="switch-button">
					<a href="<TMPL_VAR SWURL>"><TMPL_VAR name="SWLABEL"></a>
				</div>

				<br />
				<br />

<TMPL_IF name="PKGFILES"><TMPL_INCLUDE name="tmpl_pkgfiles.htm"></TMPL_IF>
<TMPL_IF name="COUNTRIES"><TMPL_INCLUDE name="tmpl_pkgcountries.htm"></TMPL_IF>
<TMPL_IF name="MIRRORS"><TMPL_INCLUDE name="tmpl_pkgmirrors.htm"></TMPL_IF>

			<br />
			<br />
