				<h2>About</h2>
				<p>Yet another web interface to database of packages and files from 
				official Slackware releases. Database is loaded with packages from 
				Slackware 8.1 and newever.
				</p>

				<p>As have been already said, this is just another "package browser" 
				in regards to deceased site <a href="http://packages.slackware.it">packages.slackware.it</a> 
				which we do (did) miss so much. 
				<br />This site has its origins in <a href="http://packages.slackverse.org/">packages.slackverse.org</a> 
				as I've been around its birth and somewhat "assisted", if one could 
				call it like that. Since I wanted to take different approach 
				to the problem and I've missed some features, this is the result.
				</p>

				<p>Why? Because it has been a challange - brain teaser - and I like these :)</p>

				<p>If you are interested, whole thing "behind the curtain" can be observed and downloaded at 
				<a href="http://git.zeratul.org/?p=projects/search.slackware.eu/.git;a=summary">git.zeratul.org</a>.
				It is published under <a href="http://www.opensource.org/licenses/mit-license.php">MIT license</a>, 
				because a) I don't care too much, and 
				b) it seemed to be less headache than <a href="http://www.gnu.org/licenses/">GNU/GPL</a>. 
				<a href="http://sam.zoy.org/wtfpl/">WTFPL</a> was considered as
				well.</p>
				<p>Back-end is supported by bunch of 
				Perl and Shell scripts. <a href="http://www.postgresql.org/">PostgreSQL</a> and 
				<a href="http://www.sqlite.org/">SQLite</a> for 
				database, although I'm planning to replace SQLite with 
				<a href="http://www.mysql.com/">MySQL</a>. Thoughts about some kind of 
				NoSQL crossed my mind, but meh.
				<br />Front-end is done by CGI resp. Perl and I'd love to try mod_perl or 
				FastCGI.</p>

				<p>I think enough said.
				<br />---
				<br />Enjoy,
				<br />Zdenek Styblik

				<hr />
				
				<h2>Thanks</h2>
				<p>I'd like to say thanks to <a href="http://linuax.altervista.org/blog/">ax</a> 
				for providing me with subdomain in 
				<a href="http://www.slackware.eu">slackware.eu</a>
				</p>

				<hr />

				<h2>More info</h2>
				<p>Some things that might be of your interest.
				</p>
				<br />
				<h3>Mirrors</h3>
				<p>Mirrors are synchronized every two days. Removed mirrors from main 
				site are removed [here] after 7 resp. 8 days.
				</p>

				<h3>Search</h3>
				<p>Currently, the searched string is matched as <abbr>%needle%</abbr>. 
				This means the string is matched wherever that might be. However, this 
				is likely (and hopefully) to change in the future.
				<br />You can choose categories to narrow down the search. These are 
				matched as: <abbr>CONDITIONS AND (cat OR cat ... OR cat)</abbr>
				</p>

				<h3>Search CLI</h3>

				<p>SearchCLI can be called "feature". It's supposed to allow you query 
				database from terminal, if you are in need to find package or which 
				package contains file you're looking for. Look-up can be achieved via 
				<a href="/download/slacksearch.sh">this script</a>, however you can 
				write your very own if you want.
				<br />Syntax is as follows: 
				<abbr>% sh slacksearch.sh &lt;file|package&gt; &lt;needle&gt; [slackware version];</abbr>
				<br />I must note <abbr>% slackpkg</abbr> can search for files too.
				</p>

				<h3>Slackware - new release</h3>
				<p>Check for new release is done twice a day (= every 12 hours)</p>

				<h3>Slackware synchronization</h3>
				<p>Is done every 30 minutes</p>

				<h3>Would it be possible to scan other repositories?</h3>

				<p>Yes, pretty much anything that has MANIFEST file. However, I haven't 
				considered this one yet, and there are 
				<a href="/cgi-bin/index.cgi/links">other sites</a> that do this job.
				</p>
