				<h2>Package info:</h2>
				<br />
				<table id="packagenfo">
					<tr>
						<td class="attr">Package name::</td>
						<td class="value"><TMPL_VAR name="PKGNAME"></td>
					</tr>
					<tr>
						<td class="attr">Slackware version::</td>
						<td class="value"><TMPL_VAR name="PKGSVER"></td>
					</tr>
					<tr>
						<td class="attr">Package category::</td>
						<td class="value"><TMPL_VAR name="PKGCAT"></td>
					</tr>
					<tr>
						<td class="attr">Package serie::</td>
						<td class="value"><TMPL_VAR name="PKGSER"></td>
					</tr>
					<tr>
						<td class="attr">Package created::</td>
						<td class="value"><TMPL_VAR name="PKGDATE"></td>
					</tr>
					<tr>
						<td class="attr">Package MD5::</td>
						<td class="value"><TMPL_VAR name="PKGMD5"></td>
					</tr>
					<tr>
						<td class="description" colspan="2">
							<pre><TMPL_VAR name="PKGDESC">
							</pre>
						</td>
					</tr>
				</table>
				<!-- TODO ~ fix label "Inspect package contents" -->
				<div id="button-packageNavigation">
					<a href="<TMPL_VAR SWURL>"><TMPL_VAR name="SWLABEL"></a>
				</div>

				<br />
				<br />

<TMPL_IF name="PKGFILES"><TMPL_INCLUDE name="tmpl_pkgfiles.htm"></TMPL_IF>
<TMPL_IF name="COUNTRIES"><TMPL_INCLUDE name="tmpl_pkgcountries.htm"></TMPL_IF>
<TMPL_IF name="MIRRORS"><TMPL_INCLUDE name="tmpl_pkgmirrors.htm"></TMPL_IF>

				<br />
				<br />
