			<h2>search.slackware.eu,</h2>
			<p>is an unofficial GNU/Linux Slackware package browser and search. 
			<p>So, hello and welcome!<br />
			What can you do, or find, here? Well, you obviously can search for packages within Slackware versions from Slackware-8.1 and newer. Search can be made by package name, or by filename within packages. You can also choose which categories to include in search. Pretty standard stuff.<br />
			Browsing ChangeLogs per Slackware version has been recently enabled, so you don't have to navigate away to check-out what got changed.<br />
			And not to forget, some news got included just to fill up the empty space.<br />
			And that's about it. But if you have any ideas, let me know.
			</p>
			<p>Not to keep you from searching, you can find more about this web site under <a href="/cgi-bin/index.cgi/about">about</a> if you want.<br /></p>
			<p>Have a fun.</p>
			<hr />
			<!-- NEWS HERE -->
			<TMPL_INCLUDE NAME="/mnt/tmp/search.slack/news/slack-news.htm">
			<TMPL_INCLUDE NAME="/mnt/tmp/search.slack/news/linuxsec-news.htm">
			<br />
			<br />
			<TMPL_INCLUDE NAME="/mnt/tmp/search.slack/news/slack-torrents.htm">
