body {
	background-color: #eaeaea;
	font-size: 11pt;
}
a { 
	color: #000; 
}
input {
	background-color: #eaeaea;
}
select {
	background-color: #eaeaea;
}
#main {
	background-color: #fff;
	border-left: 2px solid #a3a3a3;
	border-right: 2px solid #a3a3a3;
	margin-left: auto; 
	margin-right: auto; 
	width: 90%; 
}
#heading {
	background-color: #fff;
	background-image: url('../img/heading_bg.png');
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-position: 0 0;
}
#heading h1 {
	margin-left: 30px;
}
#heading div {
	width: 100%;
}
#heading div ul {
	display: block;
	margin-left: auto;
	margin-right: 20px;
	text-align: right;
}
#heading div ul li {
	display: inline;
	padding: 0.25em 0.5em 0.25em 0.5em;
	text-align: left;
}
#content {
	margin-left: 20px;
	margin-right: 20px;
	min-height: 25em;
}
#content table {
	background-color: #eaeaea;
	border: 1px solid #000;
	border-collapse: collapse;
	margin-left: 40px;
}
#content table tr th {
	border: 1px solid #000;
	font-weight: bold;
	padding: 0.25em 1em 0.25em 1em;
}
#content table tr td {
	border: 1px solid #000;
	padding: 0.25em 1em 0.25em 1em;
}
/* FOOTER */
#footer {
	border-top: 1px solid #fff;
	font-size: 8pt;
	font-weight: bold;
}
#footer div {
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
	vertical-align: bottom;
}
/* END FOOTER */
/* Slackware versions table */
#slackwareVersions .number {
	text-align: right;
}
/* END Slackware versions table */
/* An ERROR */
#error {
	background-color: #fff;
	border: 1px solid #000;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
#error legend {
	font-weight: bold;
	font-size: larger;
}
/* END An ERROR */
/* PACKAGE (1) DETAIL */
#packagenfo {
	background-color: #fff;
	border: 1px solid #000;
	border-collapse: collapse;
	margin-left: 40px;
}
#packagenfo tr td {
	background-color: #fff;
	border: 1px solid #000;
	padding: 0.25em 1em 0.25em 1em;
}
#packagenfo .attr {
	background-color: #eaeaea;
	font-weight: bold;
	text-align: left;
}
#packagenfo .value {
	background-color: #fff;
	text-align: left;
}
#packagenfo .description {
	background-color: #fff;
	border: 1px solid #000;
}
#package-contents {
	margin-left: 40px;
	margin-right: 15px;
}
#package-contents pre {
	font-size: 8pt;
	background-color: #eaeaea;
	border: 1px solid #000;
}
#button-packageNavigation {
	margin-left: 40px;
	position: relative;
	top: +0.25em;
}
#button-packageNavigation a {
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	padding: 0.25em 1em 0.25em 1em;
}
#button-packageNavigation div {
	display: inline;
	max-width: 25px;
	min-width: 25px;
	width: 25px;
}
/* END PACKAGE (1) DETAIL */
/* SEARCH FORM */
#search {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}
#search fieldset {
	border: 1px solid #000;
}
#search fieldset fieldset {
	border: 0px solid #000;
}
.searchCategories {
	padding: 0.25em 0em 0.25em 0em;
}

.searchCategoriesLabel {
	border: 1px dotted #000; 
	padding: 0.25em 0.5em 0.25em 0.5em;
}
/* END SEARCH FORM */
/* FOUND PKGS */
.searchResult { 
	border: 1px solid #000;
	margin-left: auto; 
	margin-right: auto; 
	padding: 0;
	width: 90%; 
}
.searchResult .pkgname { 
	background-color: #eaeaea;
	text-align: left;
	padding-left: 1em;
}
.searchResult .pkgdate {
	background-color: #eaeaea;
	padding-left: 1em;
	text-align: left;
}
.searchResult .pkgsize {
	padding-left: 1em;
	text-align: left;
}
.searchResult .pkgnfo { 
	background-color: #fff;
	padding-left: 1em;
}
.searchResult pre {
	background-color: #fff;
	padding-left: 1em;
}
.searchResult div {
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
	padding: 0.25em 0.5em 0.25em 0.5em;
}
/* END FOUND PKGS */
/* COUNTRY LIST */
.country {
}
.country img {
	border: 0px solid #000;
	height: 11px;
	min-height: 11px;
	min-width: 16px;
	max-height: 11px;
	max-width: 16px;
	padding-right: 0.5em;
	width: 16px;
}
/* END COUNTRY LIST */
/* LINK BACK TO TOP */
.back-to-top {
	left: 0;
	position: relative;
}
.back-to-top a {
}
.back-to-top a img {
	border: 0;
	width: 20px;
	height: 96px;
}
/* END LINK BACK TO TOP */
/* QUICK SEARCH */
#quicksearch
{
	float: right;
}
#quicksearch form
{
	margin-top: 10px;
	margin-right: 10px;
	text-align: right;
}
/* END QUICK SEARCH */
