# search.slackware.eu stuff
## sync mirrors every 2 days
0 3 */2 * * /usr/bin/perl /srv/httpd/search.slackware.eu/shell/db-sync-mirrors.pl
## update slackware versions already in DB
*/30 * * * * /bin/bash /srv/httpd/search.slackware.eu/bin/update-slackversions.sh 1>/dev/null
# check for new version of slackware
*/6 * * * * /bin/bash /srv/httpd/search.slackware.eu/bin/check-slackversions.sh
# end of search.slackware.eu stuff
